# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Cache
.cache
*.tsbuildinfo

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Public
public
